<!DOCTYPE html>
<html lang="en" ng-app="myPlayList">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="./app/app.js"></script>
  <link rel="stylesheet" href="./content/style.css">
  <title>practice playlist</title>
</head>
<!-- The "ngInit" directive allows you to evaluate an expression in the current scope. -->
<body ng-init="playlists = ['first', 'second', 'third', 'forth']">
  <!-- this is 2 way data binding between model and view -->
  <input type="text" ng-model="favMeat" placeholder="what is your favorite meat?">
  <!-- created the model whici is favMeat in the input area -->
  <li ng-repeat="playlist in playlists">{{playlist}}</li>
</body>
</html>