<div class="content">
    <button ng-click="order = 'name'">Order by Name</button>
    <button ng-click="order = 'number'">Order by number</button>
    <input type="text" ng-model="search">
    <ul id="song-lists">
      <li ng-repeat="playlist in playlists | orderBy: order | filter: search" ng-show="playlist.playable">
        <h3>{{playlist.name}} - {{playlist.number | number}}</h3>
        <div class="remove" ng-click="removePlayList(playlist)">x</div>
        <span class="artist">{{playlist.artist}} artist</span>
      </li>
    </ul>
    <playing></playing>
    <form ng-submit="addSong()">
      <input type="text" ng-model="newSong.name" placeholder="name">
      <input type="text" ng-model="newSong.artist" placeholder="artist">
      <input type="text" ng-model="newSong.number" placeholder="number">
      <input type="submit" value="add new song">
    </form>
    <a href="" ng-click="removeAll()">RemoveAll</a>
</div>